.App {
  text-align: center;
  align-self: center;
  align-content: center;
  display: flex;
  margin-top: 5px;
  justify-content: center;
  flex-direction: column;
}

.cancel{
  width: 24px;
  height: 24px;
}

.form{
  border-radius: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(193, 230, 243);
  width: 600px;
}

.bookingrow{
  text-align: left;
  background-color: aliceblue;
  border-radius: 10px;
  color:brown;
  margin: 10px;
  padding: 10px;
}

.bookings{
  border-radius: 10px;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(193, 230, 243);
  width: 600px;
  overflow-y: scroll;
  max-height: 700px;
  
}

.form input{
  border-radius: 10px;
  width: 470px;
  height: 40px;
  margin: 10px;
  font-size: 30px;
}

.form select{
  border-radius: 10px;
  width: 470px;
  height: 40px;
  margin: 10px;
  font-size: 30px;
}

.form label{
  width: 200px;
  font-size: 25px;
}